<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
<div class='container container-app'>
    <div id="content">
        <main>
            <!-- Contenido -->
            <div class="page-header text-center">
                <h1>Lista de Empleados con más de 4 años de experiencia</h1>
            </div>
            <div class="container-fluid">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Sueldo>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="empleado, info : ${listEmpleadoExperiencia}">
                        <td th:text="${info.index +1}"></td>
                        <td th:text="${empleado.nombre}"></td>
                        <td th:text="${empleado.apellido}"></td>
                        <td th:text="${empleado.sueldo}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- /Contenido -->
        </main>
    </div>
</div>
</body>
</html>